@page "/"
@inject GameDataHelper GameDataHelper
@inject NavigationManager NavigationManager


<div class="container">
    <div class="row">
        <br/>
        <h1 class="fw-bold display-1 text-center text-white opacity-75">Vihan Number Game!</h1>
        <br/>
        <h4 class="text-white opacity-75 text-center">Your Score is <span class="badge bg-secondary fw-bold">@_score / @NumberOfQuestions</span> The Goal is To Achieve <span class="badge bg-secondary fw-bold">@(Math.Floor(_threshold * NumberOfQuestions))</span></h4>
        <br/>
        <div class="d-flex justify-content-around">
            <div>
                <HxSelect
                    TItem="string"
                    TValue="string"
                    AutoSort="false"
                    Data="@_difficultyOptions"
                    Value="@_difficulty"
                    ValueExpression="() => _difficulty"
                    Nullable="false"
                    ValueChanged="SelectDifficulty"
                    CssClass="ms-2"
                    InputCssClass="fw-bold"
                />
                    
            </div>
            <div>
                <HxButton OnClickPreventDefault="false" Color="ThemeColor.Secondary" Icon="BootstrapIcon.ArrowCounterclockwise" OnClick="Refresh">Refresh!</HxButton>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-1" style="width: 6rem; min-height: 100vh;">
            <div style="position: fixed; left: 0;">
                @if (_started && _didAnswerRight)
                    {
                        <div style="position: relative">
                            <video autoplay muted loop width="200" style="z-index: 2">
                                <source src="Videos/yes_video.webm" type="video/webm">
                                Your browser does not support HTML video.
                            </video>
                            <span style="position: absolute; right: 0; top: 0;" class="badge bg-secondary fw-bold">@_score / @NumberOfQuestions</span>
                        </div>
                    }
                    @if (_started && !_didAnswerRight)
                    {
                        <div style="position: relative">
                            <video autoplay muted loop width="200">
                                <source src="Videos/no_video.webm" type="video/webm">
                                Your browser does not support HTML video.
                            </video>
                            <span style="position: absolute; right: 0; top: 0;" class="badge bg-secondary fw-bold">@_score / @NumberOfQuestions</span>
                        </div>
                    }
            </div>
        </div>
        <div class="col">
             @if (_score > _threshold * NumberOfQuestions)
                {
                    <div class="row mt-3 shadow-lg rounded">
                        <video loop muted autoplay style="min-width: 100%; min-height: 100%; z-index: 2;">
                            <source src="Videos/firework.mp4" type="video/mp4"/>
                        </video>
                        
                    </div>
                    <audio loop autoplay>
                        <source src="Sounds/firework.wav" type="audio/wav"/>
                    </audio>
                    <audio loop autoplay>
                        <source src="Sounds/applause.wav" type="audio/wav"/>
                    </audio>
                }
                else
                {
                    <div class="row">
                        @foreach (var question in _game!)
                        {
                            <div class="col">
                                <br/>
                                <Question Q="question" DidAnswer="ResolveResult"/>
                                <br/>
                            </div>
                        }
                    </div>
                }
        </div>
    </div>
</div>


@code{
    
    private const int NumberOfQuestions = 20;
    private const int Limit = 17;
    private const int NumberOfOtherQuestions = 3;

    private string? _difficulty;
    private float _threshold = 0.55F;
    private List<GameDataHelper.Game>? _game;
    private int _score;
    private List<string>? _difficultyOptions;
    private bool _started;
    private bool _didAnswerRight;
    
    
    private void SelectDifficulty(string? difficulty)
    {
        _threshold = difficulty switch
        {
            "Super Easy" => 0.33F,
            "Easy" => 0.55F,
            "Medium" => 0.66F,
            "Difficult" => 0.88F,
            _ => 1.0F
        };
        _difficulty = difficulty;
    }
    
    protected override void OnInitialized()
    {
        GameDataHelper.Setup(Limit, NumberOfOtherQuestions);
        _game = GameDataHelper?.MakeQuestion(NumberOfQuestions)?.ToList();
        _difficultyOptions = new List<string>{ @"Super Easy", @"Easy", @"Medium", @"Difficult" };
        _difficulty = "Easy";
    }

    private void Refresh()
    {
        NavigationManager.NavigateTo("/", true);
    }

    private void ResolveResult(bool r)
    {
        _started = true;
        if (r)
        {
            _didAnswerRight = true;
            _score++;
        }
        else
        {
            _didAnswerRight = false;
        }
    }
}
